n8n-workflow.json
{
  "name": "PepsiCo Delivery Delays",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deliverydelay",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "309e58df-fd39-45d2-9937-033724031835",
      "name": "Webhook",
      "webhookId": "5be1af7e-894b-419d-af53-14ab1c80f79b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Connect to Logistics MCP Client Tool: execute_route – the payload is: \n{\n  \"route_id\": \"{{ $json.body.route_id }}\",\n  \"truck_id\": \"{{ $json.body.truck_id }}\",\n  \"chosen_option\": {\n    \"option_id\": \"{{ $json.body.chosen_option.option_id }}\",\n    \"route_number\": {{ $json.body.chosen_option.route_number }},\n    \"distance_miles\": {{ $json.body.chosen_option.distance_miles }},\n    \"eta_minutes\": {{ $json.body.chosen_option.eta_minutes }}\n  }\n}\n\nConnect to Retail MCP Client Tool: notify_delivery_delay – the payload is: {\n  \"route_id\": \"{{ $json.body.route_id }}\",\n  \"truck_id\": \"{{ $json.body.truck_id }}\",\n  \"chosen_option\": {\n    \"option_id\": \"{{ $json.body.chosen_option.option_id }}\",\n    \"route_number\": {{ $json.body.chosen_option.route_number }},\n    \"distance_miles\": {{ $json.body.chosen_option.distance_miles }},\n    \"eta_minutes\": {{ $json.body.chosen_option.eta_minutes }}\n  }\n}\n\nConnect to ServiceNow MCP Client Tool: update_execution_status – the payload is: {\n  \"route_id\": {{ $json.body.route_id }},\n  \"status\": Dispatched\n}\n\n",
        "options": {
          "systemMessage": "You give JSON payloads to MCP tools. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "edf836bc-4a2f-4c0c-aa90-bf1812aec13c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai.gpt-oss-120b-1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        112,
        368
      ],
      "id": "9b0422c3-7b73-4e32-b194-672fd437a2d9",
      "name": "AWS Bedrock Chat Model",
      "credentials": {
        "aws": {
          "id": "62vtvzEXeUC4ZinA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://34.197.44.143:8001/mcp",
        "serverTransport": "httpStreamable",
        "include": "selected",
        "includeTools": [
          "execute_route"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        352,
        368
      ],
      "id": "a52fcc90-5139-44a3-9cc5-a7bccbe62bbf",
      "name": "Logistics MCP Client"
    },
    {
      "parameters": {
        "endpointUrl": "http://34.197.44.143:8002/mcp",
        "serverTransport": "httpStreamable",
        "include": "selected",
        "includeTools": [
          "notify_delivery_delay"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        512,
        368
      ],
      "id": "97a0cbca-ad83-4bf3-b864-74896efbc5f6",
      "name": "Retail MCP Client"
    },
    {
      "parameters": {
        "endpointUrl": "http://34.197.44.143:8000/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "bearerAuth",
        "include": "selected",
        "includeTools": [
          "update_execution_status"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        672,
        368
      ],
      "id": "fcca2174-3f70-4edc-8aeb-3b9ab40ea9e6",
      "name": "ServiceNow MCP Client",
      "credentials": {
        "httpBearerAuth": {
          "id": "FtVdXBVWroNqAC9z",
          "name": "Bearer Auth account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "btyler.app.n8n.cloud",
            "user-agent": "ServiceNow/1.0",
            "content-length": "134",
            "accept": "application/json",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "4.223.224.92",
            "cf-ew-via": "15",
            "cf-ipcountry": "SE",
            "cf-ray": "98aa9fa9f0221806-ARN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "4.223.224.92, 104.23.221.6",
            "x-forwarded-host": "btyler.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-18-7959cfc789-ngln9",
            "x-is-trusted": "yes",
            "x-real-ip": "4.223.224.92",
            "x-snc-integration-source": "158d1433c322a650d7299dcd2b013186"
          },
          "params": {},
          "query": {},
          "body": {
            "route_id": "717885",
            "truck_id": "7923",
            "chosen_option": {
              "option_id": "opt-2",
              "route_number": 14,
              "distance_miles": 109,
              "eta_minutes": 332
            }
          },
          "webhookUrl": "https://btyler.app.n8n.cloud/webhook-test/deliverydelay",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Logistics MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Retail MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ServiceNow MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72a2a101-7c4f-48f7-985e-b2710df83142",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea7aa670b883107450810b975730f912c21227202122d8db8c83013a49d0effa"
  },
  "id": "c0nLd2BZoXXI1nv3",
  "tags": []
}